.day {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid blue;
    background: rgb(243, 162, 205);
    color: blue;
    box-shadow:1px 1px 2px pink;
    padding: 3px 10px;
    display:inline-block ;
    cursor: pointer;

}

.conteiner {
    text-align: justify;
    margin:auto;
    padding: 20px;
    width: 50%;
    height: auto;
    
}

h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

textarea {
    padding: 10px;
    width: 100%;
}

.pole1 {
    height: 130px;
}

.pole2 {
    height: 170px;
}

.pole3 {
    height: 90px;
}

.pole4 {
    height: 90px;
}

.button1 {
    background:rgb(173, 236, 153);
}
